section{
    font-family: 'Jockey One', sans-serif;
}


#kontakt{
    background-image: url(img/footer_lodyas.png);
}

#kontakt-container{
    background: #ebebeb;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #fff, #ebebeb);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #fff,#ebebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem;
    line-height: 1.6;
    margin:0;
}

#kontakt-container p{
    font-size: 1.3rem;
}

#kontakt-container h3{
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.5rem;
}

#firm-data{
    letter-spacing: 1.5px;
}

#open-hours-kontakt{
    font-size: 1.4rem;
}

#hours-container{
    background: #ebebeb;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #fff, #ebebeb);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #fff,#ebebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem;
    margin:0;
}

#hours-container h3{
    letter-spacing: 2px;
    font-size: 1.5rem;
    margin:0;
}